# Predicting Water Well Functionality in Tanzania

## 1. Business understanding

Access to clean and functional water points is a critical driver of public health, education, and economic productivity in Tanzania. However, many installed wells are either broken, need repair, or provide unsafe water, leading to wasted infrastructure investment and limited community benefit. 

Government agencies, NGOs, and donors need reliable tools to identify wells at risk of failure so that maintenance resources can be allocated more efficiently. 

A predictive model of well functionality will enable stakeholders to extend the lifespan of water infrastructure, reduce costs, and ensure equitable water access.

## 2. Problem statement

Despite thousands of water points being established in Tanzania, a large proportion are either non-functional or partially functional. Currently, identifying which wells need repair relies on costly and time-consuming field inspections.

This project aims to develop a machine learning model that predicts the functionality of water wells based on geospatial, technical, and administrative data.

By leveraging existing datasets, stakeholders can better anticipate failures and plan interventions that maximize water access and minimize downtime.

## 3. Objectives

Build a supervised machine learning model to classify wells as functional, functional but needs repair, or non-functional.

Conduct exploratory data analysis (EDA) to uncover patterns in well failures by geography, management, or technical features.

Provide actionable insights on the key drivers of well performance to inform policy and investment decisions.

Develop a dashboard or visualization tool that allows NGOs, governments, or donors to identify at-risk wells and allocate maintenance budgets efficiently.

## 4. Metric of success

The primary success metric will be the F1-score, as it balances precision and recall across the three functionality classes. This ensures the model not only identifies functional wells correctly but also reduces misclassification of wells needing urgent repair.

Additional metrics such as precision, recall, and confusion matrix analysis will be used to evaluate performance across each class.

The project will be considered successful if the model achieves an F1-score > 0.75 on the test set, alongside interpretable feature importance insights that can inform decision-making.

## 5. Data Understanding

The dataset comes from the Tanzania Ministry of Water and includes information on more than 59,000 water points across the country. 

Each record describes a water pointâ€™s geographical location, technical specifications, administrative details, and functionality status.

In [1]:
# import the libraries
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings 
warnings.filterwarnings("ignore")

In [10]:
# load the training dataset

df_train = pd.read_csv("C:/Users/Admin/Documents/Phase_3/Checkpoints_Codechallenge_Project/Project/phase3_project_henry/Datasets/Training_data_independent_variables.csv", index_col=0)
df_train[:5]

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [12]:
df_train.tail()

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,Pangani,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,Rufiji,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,Rufiji,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,Rufiji,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,Wami / Ruvu,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

*Observation:*
    
    The train dataset values are uniform from top to bottom

In [11]:
# load the test dataset

df_test = pd.read_csv("C:/Users/Admin/Documents/Phase_3/Checkpoints_Codechallenge_Project/Project/phase3_project_henry/Datasets/Test_set_values.csv", index_col=0)
df_test[:5]

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,Internal,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,Pangani,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,Internal,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,Ruvuma / Southern Coast,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,Ruvuma / Southern Coast,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [13]:
df_test.tail()

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
39307,0.0,2011-02-24,Danida,34,Da,38.852669,-6.582841,Kwambwezi,0,Wami / Ruvu,...,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
18990,1000.0,2011-03-21,Hiap,0,HIAP,37.451633,-5.350428,Bonde La Mkondoa,0,Pangani,...,annually,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
28749,0.0,2013-03-04,NaN,1476,NaN,34.739804,-4.585587,Bwawani,0,Internal,...,never pay,soft,good,insufficient,insufficient,dam,dam,surface,communal standpipe,communal standpipe
33492,0.0,2013-02-18,Germany,998,DWE,35.432732,-10.584159,Kwa John,0,Lake Nyasa,...,never pay,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
68707,0.0,2013-02-13,Government Of Tanzania,481,Government,34.765054,-11.226012,Kwa Mzee Chagala,0,Lake Nyasa,...,never pay,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe

*Observation:*
    
    The test dataset values are uniform from top to bottom

In [16]:
# checking the shape of the data sets
print(f" The training dataset has {df_train.shape[0]} records and {df_train.shape[1]} columns")
print(f" The test dataset has {df_test.shape[0]} records and {df_test.shape[1]} columns")

 The training dataset has 59400 records and 39 columns
 The test dataset has 14850 records and 39 columns

In [21]:
# the data type in the 39columns
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 69572 to 26348
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59400 non-null  float64
 1   date_recorded          59400 non-null  object
 2   funder                 55765 non-null  object
 3   gps_height             59400 non-null  int64
 4   installer              55745 non-null  object
 5   longitude              59400 non-null  float64
 6   latitude               59400 non-null  float64
 7   wpt_name               59400 non-null  object
 8   num_private            59400 non-null  int64
 9   basin                  59400 non-null  object
 10  subvillage             59029 non-null  object
 11  region                 59400 non-null  object
 12  region_code            59400 non-null  int64
 13  district_code          59400 non-null  int64
 14  lga                    59400 non-null  object
 15  ward                   59400 non-null  object
 16  population             59400 non-null  int64
 17  public_meeting         56066 non-null  object
 18  recorded_by            59400 non-null  object
 19  scheme_management      55523 non-null  object
 20  scheme_name            31234 non-null  object
 21  permit                 56344 non-null  object
 22  construction_year      59400 non-null  int64
 23  extraction_type        59400 non-null  object
 24  extraction_type_group  59400 non-null  object
 25  extraction_type_class  59400 non-null  object
 26  management             59400 non-null  object
 27  management_group       59400 non-null  object
 28  payment                59400 non-null  object
 29  payment_type           59400 non-null  object
 30  water_quality          59400 non-null  object
 31  quality_group          59400 non-null  object
 32  quantity               59400 non-null  object
 33  quantity_group         59400 non-null  object
 34  source                 59400 non-null  object
 35  source_type            59400 non-null  object
 36  source_class           59400 non-null  object
 37  waterpoint_type        59400 non-null  object
 38  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(6), object(30)
memory usage: 20.6+ MB

*Observation:*

    The datasets have 9 numerical and 30 categorical columns

In [23]:
# checking the statistical summary of the numerical columns
df_train.describe()

,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [26]:
# checking the summary for the categorical columns
df_train.describe(include="object")

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
count,59400,55765,55745,59400,59400,59029,59400,59400,59400,56066,...,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400
unique,356,1897,2145,37400,9,19287,21,125,2092,2,...,7,8,6,5,5,10,7,3,7,6
top,2011-03-15,Government Of Tanzania,DWE,none,Lake Victoria,Madukani,Iringa,Njombe,Igosi,True,...,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
freq,572,9084,17402,3563,10248,508,5294,2503,307,51011,...,25348,50818,50818,33186,33186,17021,17021,45794,28522,34625

In [27]:
# checking the unique values

for coln in df_train:
    unique = df_train[coln].unique()
    print(f"{coln}\n, {unique}\n")

amount_tsh
, [6.00e+03 0.00e+00 2.50e+01 2.00e+01 2.00e+02 5.00e+02 5.00e+01 4.00e+03
 1.50e+03 6.00e+00 2.50e+02 1.00e+01 1.00e+03 1.00e+02 3.00e+01 2.00e+03
 4.00e+02 1.20e+03 4.00e+01 3.00e+02 2.50e+04 7.50e+02 5.00e+03 6.00e+02
 7.20e+03 2.40e+03 5.00e+00 3.60e+03 4.50e+02 4.00e+04 1.20e+04 3.00e+03
 7.00e+00 2.00e+04 2.80e+03 2.20e+03 7.00e+01 5.50e+03 1.00e+04 2.50e+03
 6.50e+03 5.50e+02 3.30e+01 8.00e+03 4.70e+03 7.00e+03 1.40e+04 1.30e+03
 1.00e+05 7.00e+02 1.00e+00 6.00e+01 3.50e+02 2.00e-01 3.50e+01 3.06e+02
 8.50e+03 1.17e+05 3.50e+03 5.20e+02 1.50e+01 6.30e+03 9.00e+03 1.50e+02
 1.20e+05 1.38e+05 3.50e+05 4.50e+03 1.30e+04 4.50e+04 2.00e+00 1.50e+04
 1.10e+04 5.00e+04 7.50e+03 1.63e+04 8.00e+02 1.60e+04 3.00e+04 5.30e+01
 5.40e+03 7.00e+04 2.50e+05 2.00e+05 2.60e+04 1.80e+04 2.60e+01 5.90e+02
 9.00e+02 9.00e+00 1.40e+03 1.70e+05 2.20e+02 3.80e+04 2.50e-01 1.20e+01
 6.00e+04 5.90e+01]

date_recorded
, ['2011-03-14' '2013-03-06' '2013-02-25' '2013-01-28' '2011-07-13'
 '2011-03-13' '2012-10-01' '2012-10-09' '2012-11-03' '2011-08-03'
 '2011-02-20' '2013-02-18' '2012-10-14' '2013-03-15' '2012-10-20'
 '2011-08-04' '2011-07-04' '2011-09-04' '2011-07-22' '2011-02-22'
 '2011-02-27' '2013-02-10' '2011-10-04' '2013-11-03' '2013-01-21'
 '2013-01-16' '2011-07-11' '2013-03-05' '2013-03-16' '2011-03-23'
 '2011-03-16' '2013-03-19' '2011-03-11' '2011-02-23' '2013-03-28'
 '2011-07-16' '2011-03-27' '2013-02-11' '2013-10-03' '2011-03-12'
 '2011-07-07' '2013-01-15' '2013-03-18' '2012-10-22' '2013-02-05'
 '2011-07-27' '2011-04-04' '2013-02-21' '2011-08-18' '2011-07-31'
 '2011-08-01' '2011-07-14' '2013-02-22' '2013-07-03' '2013-08-03'
 '2013-01-22' '2011-03-22' '2013-05-03' '2013-01-19' '2013-02-09'
 '2011-01-04' '2013-02-04' '2011-03-05' '2011-03-31' '2013-02-27'
 '2011-08-07' '2011-03-30' '2012-10-23' '2011-03-02' '2011-03-04'
 '2013-03-14' '2012-10-18' '2011-08-08' '2011-09-05' '2011-04-11'
 '2013-01-17' '2013-01-20' '2013-01-27' '2013-02-19' '2012-10-06'
 '2013-02-13' '2013-02-26' '2013-02-16' '2013-02-17' '2011-07-21'
 '2011-03-07' '2011-07-12' '2011-07-17' '2011-04-07' '2011-04-10'
 '2012-10-29' '2011-02-25' '2012-10-11' '2013-02-14' '2012-10-05'
 '2011-07-19' '2011-04-15' '2011-03-17' '2013-01-25' '2011-10-07'
 '2011-02-24' '2013-03-21' '2011-08-02' '2011-02-03' '2013-01-24'
 '2012-10-21' '2011-04-16' '2013-02-03' '2013-02-24' '2011-04-02'
 '2012-10-19' '2013-01-30' '2011-03-03' '2011-08-17' '2011-03-28'
 '2011-07-23' '2013-02-06' '2011-08-11' '2011-03-09' '2011-03-18'
 '2013-03-07' '2011-08-14' '2013-09-03' '2011-02-16' '2011-04-03'
 '2011-07-09' '2011-04-12' '2011-04-14' '2011-03-10' '2013-03-25'
 '2013-02-28' '2013-01-18' '2012-10-10' '2011-07-03' '2011-08-05'
 '2011-07-20' '2013-03-13' '2011-03-15' '2011-07-18' '2013-03-03'
 '2011-11-07' '2013-04-04' '2012-10-16' '2013-03-23' '2013-04-03'
 '2013-02-08' '2011-03-21' '2011-04-05' '2012-10-15' '2011-03-19'
 '2013-06-03' '2013-03-29' '2012-10-28' '2011-07-15' '2012-10-12'
 '2011-07-29' '2011-08-06' '2012-10-13' '2013-03-02' '2013-02-12'
 '2013-01-29' '2013-01-04' '2012-10-25' '2012-11-13' '2013-02-01'
 '2011-08-10' '2013-03-17' '2011-07-30' '2011-02-21' '2011-02-17'
 '2011-08-19' '2013-02-15' '2013-02-02' '2013-01-26' '2011-04-06'
 '2011-08-21' '2013-03-24' '2013-10-02' '2011-04-01' '2013-02-23'
 '2013-02-20' '2011-04-08' '2011-03-29' '2011-03-25' '2013-03-01'
 '2013-05-04' '2012-11-05' '2011-03-24' '2011-03-20' '2013-03-04'
 '2012-10-26' '2013-06-04' '2011-08-20' '2013-02-07' '2011-07-24'
 '2011-07-25' '2013-03-22' '2013-08-02' '2011-07-28' '2013-03-12'
 '2013-03-30' '2013-12-03' '2011-03-26' '2011-03-08' '2013-01-23'
 '2012-11-04' '2012-10-02' '2012-10-07' '2011-04-18' '2012-11-15'
 '2011-08-12' '2011-08-23' '2012-10-08' '2011-02-26' '2013-03-26'
 '2011-03-01' '2012-12-14' '2011-02-14' '2013-01-14' '2012-10-04'
 '2011-07-26' '2012-10-27' '2012-10-17' '2013-09-02' '2012-10-03'
 '2013-03-20' '2012-11-08' '2011-02-15' '2012-10-24' '2013-03-10'
 '2011-07-06' '2011-07-08' '2012-12-13' '2011-08-25' '2004-08-01'
 '2011-04-09' '2012-10-31' '2011-03-06' '2013-07-02' '2012-11-12'
 '2011-02-28' '2011-02-02' '2013-01-31' '2011-07-10' '2011-04-17'
 '2011-07-05' '2011-06-04' '2011-08-22' '2011-01-03' '2013-01-13'
 '2012-11-09' '2013-01-11' '2011-01-08' '2013-07-04' '2011-02-18'
 '2011-08-13' '2012-11-06' '2011-06-03' '2013-01-12' '2013-03-08'
 '2004-12-01' '2012-12-16' '2011-04-13' '2012-11-01' '2013-03-27'
 '2011-12-03' '2013-01-08' '2011-04-19' '2012-12-15' '2012-10-30'
 '2011-08-16' '2013-01-07' '2013-01-03' '2013-05-02' '2011-08-15'
 '2011-02-19' '2011-11-03' '2011-04-21' '2013-01-10' '2012-11-10'
 '2011-12-07' '2012-11-11' '2011-10-03' '2011-08-26' '2011-04-22'
 '2011-08-09' '2011-06-07' '2002-10-14' '2013-03-09' '2011-02-04'
 '2013-01-09' '2012-12-12' '2012-11-14' '2012-12-11' '2011-04-20'
 '2012-12-18' '2011-08-27' '2013-12-02' '2013-11-02' '2011-09-27'
 '2011-08-24' '2011-09-03' '2012-11-29' '2011-09-19' '2012-12-21'
 '2012-11-02' '2013-03-11' '2012-11-19' '2011-05-03' '2012-12-10'
 '2011-11-04' '2004-05-01' '2004-04-05' '2012-12-17' '2012-11-07'
 '2012-11-30' '2004-06-01' '2011-05-07' '2012-12-23' '2011-09-09'
 '2012-12-24' '2011-05-04' '2011-04-23' '2013-04-02' '2011-02-01'
 '2011-09-18' '2011-09-06' '2011-09-20' '2004-03-01' '2011-09-17'
 '2013-01-01' '2004-01-07' '2004-07-01' '2011-09-11' '2011-08-31'
 '2011-09-21' '2011-08-30' '2011-08-28' '2011-09-01' '2011-09-28'
 '2011-09-16' '2011-09-13' '2011-09-08' '2011-09-23' '2013-01-06'
 '2011-09-14' '2004-03-06' '2012-01-21' '2012-01-25' '2011-09-15'
 '2011-09-25' '2004-09-01' '2004-04-01' '2011-09-26' '2011-09-12'
 '2013-12-01']

funder
, ['Roman' 'Grumeti' 'Lottery Club' ... 'Dina' 'Brown' 'Samlo']

gps_height
, [1390 1399  686 ...  -90 2091 2366]

installer
, ['Roman' 'GRUMETI' 'World vision' ... 'Dina' 'brown' 'SELEPTA']

longitude
, [34.93809275 34.6987661  37.46066446 ... 34.01708706 35.86131531
 38.10404822]

latitude
, [-9.85632177 -2.14746569 -3.82132853 ... -8.75043433 -6.37857327
 -6.74746425]

wpt_name
, ['none' 'Zahanati' 'Kwa Mahundi' ... 'Kwa Yahona Kuvala' 'Mshoro'
 'Kwa Mzee Lugawa']

num_private
, [   0   39    5   45    6    3  698   32   15    7   25  102    1   93
   14   34  120   17  213   47    8   41   80  141   20   35  131    4
   22   11   87   61   65  136    2  180   38   62    9   16   23   42
   24   12  668  672   58  150  280  160   50 1776   30   27   10   94
   26  450  240  755   60  111  300   55 1402]

basin
, ['Lake Nyasa' 'Lake Victoria' 'Pangani' 'Ruvuma / Southern Coast'
 'Internal' 'Lake Tanganyika' 'Wami / Ruvu' 'Rufiji' 'Lake Rukwa']

subvillage
, ['Mnyusi B' 'Nyamara' 'Majengo' ... 'Itete B' 'Maore Kati' 'Kikatanyemba']

region
, ['Iringa' 'Mara' 'Manyara' 'Mtwara' 'Kagera' 'Tanga' 'Shinyanga' 'Tabora'
 'Pwani' 'Ruvuma' 'Kilimanjaro' 'Rukwa' 'Mwanza' 'Kigoma' 'Lindi' 'Dodoma'
 'Arusha' 'Mbeya' 'Singida' 'Morogoro' 'Dar es Salaam']

region_code
, [11 20 21 90 18  4 17 14 60 10  3 15 19 16 80  1  6  2 12 13  5  7 99 24
  9  8 40]

district_code
, [ 5  2  4 63  1  8  3  6 43  7 23 33 53 62 60 30 13  0 80 67]

lga
, ['Ludewa' 'Serengeti' 'Simanjiro' 'Nanyumbu' 'Karagwe' 'Mkinga'
 'Shinyanga Rural' 'Kahama' 'Tabora Urban' 'Mkuranga' 'Namtumbo' 'Maswa'
 'Siha' 'Meatu' 'Sumbawanga Rural' 'Njombe' 'Ukerewe' 'Bariadi' 'Same'
 'Kigoma Rural' 'Moshi Rural' 'Lindi Rural' 'Rombo' 'Chamwino' 'Bagamoyo'
 'Mafia' 'Arusha Rural' 'Kyela' 'Kondoa' 'Kilolo' 'Kibondo' 'Makete'
 'Singida Rural' 'Masasi' 'Rungwe' 'Moshi Urban' 'Geita' 'Mbulu'
 'Bukoba Rural' 'Muheza' 'Lushoto' 'Meru' 'Iramba' 'Kilombero' 'Mbarali'
 'Kasulu' 'Bukoba Urban' 'Korogwe' 'Bukombe' 'Morogoro Rural' 'Kishapu'
 'Musoma Rural' 'Sengerema' 'Iringa Rural' 'Muleba' 'Dodoma Urban'
 'Ruangwa' 'Hanang' 'Misenyi' 'Missungwi' 'Songea Rural' 'Tanga' 'Tunduru'
 'Hai' 'Mwanga' 'Chato' 'Biharamulo' 'Ileje' 'Mpwapwa' 'Mvomero' 'Bunda'
 'Kiteto' 'Longido' 'Urambo' 'Mbozi' 'Sikonge' 'Ilala' 'Tarime' 'Temeke'
 'Mbeya Rural' 'Magu' 'Manyoni' 'Igunga' 'Kilosa' 'Babati' 'Chunya'
 'Mufindi' 'Mtwara Rural' 'Ngara' 'Karatu' 'Mpanda' 'Kibaha'
 'Singida Urban' 'Newala' 'Nzega' 'Nkasi' 'Bahi' 'Mbinga' 'Ulanga'
 'Sumbawanga Urban' 'Morogoro Urban' 'Tandahimba' 'Kisarawe'
 'Mtwara Urban' 'Kilwa' 'Liwale' 'Kongwa' 'Uyui' 'Rufiji' 'Kwimba'
 'Monduli' 'Shinyanga Urban' 'Ngorongoro' 'Handeni' 'Rorya' 'Pangani'
 'Lindi Urban' 'Nachingwea' 'Kinondoni' 'Kigoma Urban' 'Ilemela' 'Kilindi'
 'Arusha Urban' 'Songea Urban' 'Nyamagana']

ward
, ['Mundindi' 'Natta' 'Ngorika' ... 'Chinugulu' 'Nyamtinga' 'Kinungu']

population
, [109 280 250 ... 845 976 788]

public_meeting
, [True nan False]

recorded_by
, ['GeoData Consultants Ltd']

scheme_management
, ['VWC' 'Other' nan 'Private operator' 'WUG' 'Water Board' 'WUA'
 'Water authority' 'Company' 'Parastatal' 'Trust' 'SWC' 'None']

scheme_name
, ['Roman' nan 'Nyumba ya mungu pipe scheme' ... 'BL Nsherehehe'
 'Magati  gravity spri' 'Mtawanya']

permit
, [False True nan]

construction_year
, [1999 2010 2009 1986    0 2011 1987 1991 1978 1992 2008 1974 2000 2002
 2004 1972 2003 1980 2007 1973 1985 1970 1995 2006 1962 2005 1997 2012
 1996 1977 1983 1984 1990 1982 1976 1988 1989 1975 1960 1961 1998 1963
 1971 1994 1968 1993 2001 1979 1967 2013 1969 1981 1964 1966 1965]

extraction_type
, ['gravity' 'submersible' 'swn 80' 'nira/tanira' 'india mark ii' 'other'
 'ksb' 'mono' 'windmill' 'afridev' 'other - rope pump' 'india mark iii'
 'other - swn 81' 'other - play pump' 'cemo' 'climax' 'walimi'
 'other - mkulima/shinyanga']

extraction_type_group
, ['gravity' 'submersible' 'swn 80' 'nira/tanira' 'india mark ii' 'other'
 'mono' 'wind-powered' 'afridev' 'rope pump' 'india mark iii'
 'other handpump' 'other motorpump']

extraction_type_class
, ['gravity' 'submersible' 'handpump' 'other' 'motorpump' 'wind-powered'
 'rope pump']

management
, ['vwc' 'wug' 'other' 'private operator' 'water board' 'wua' 'company'
 'water authority' 'parastatal' 'unknown' 'other - school' 'trust']

management_group
, ['user-group' 'other' 'commercial' 'parastatal' 'unknown']

payment
, ['pay annually' 'never pay' 'pay per bucket' 'unknown'
 'pay when scheme fails' 'other' 'pay monthly']

payment_type
, ['annually' 'never pay' 'per bucket' 'unknown' 'on failure' 'other'
 'monthly']

water_quality
, ['soft' 'salty' 'milky' 'unknown' 'fluoride' 'coloured' 'salty abandoned'
 'fluoride abandoned']

quality_group
, ['good' 'salty' 'milky' 'unknown' 'fluoride' 'colored']

quantity
, ['enough' 'insufficient' 'dry' 'seasonal' 'unknown']

quantity_group
, ['enough' 'insufficient' 'dry' 'seasonal' 'unknown']

source
, ['spring' 'rainwater harvesting' 'dam' 'machine dbh' 'other'
 'shallow well' 'river' 'hand dtw' 'lake' 'unknown']

source_type
, ['spring' 'rainwater harvesting' 'dam' 'borehole' 'other' 'shallow well'
 'river/lake']

source_class
, ['groundwater' 'surface' 'unknown']

waterpoint_type
, ['communal standpipe' 'communal standpipe multiple' 'hand pump' 'other'
 'improved spring' 'cattle trough' 'dam']

waterpoint_type_group
, ['communal standpipe' 'hand pump' 'other' 'improved spring'
 'cattle trough' 'dam']

## 6. Data Preparation

### 6.1 Handing missing and invalid values

### 6.2 Encoding

### 6.3 Feature engineering

### 6.4 Scaling and transformation

### 6.5 Train_test split

### 6.6 Addressing class imbalance

## 7. Exploratory Data Analysis (EDA)

### 7.1 Univariate analysis

### 7.2 Bivariate analysis

### 7.3 Multivariate analysis

## 8. Modeling

### 8.1 Logistics regression

### 8.2 Decision tree

### 8.3 Random forest

### 8.4 Model evaluation

### 8.5 Hyperparamater tuning